{% extends 'base.html' %}

{% block content %}

{% load static %}

<!-- css -->
<pages-css>
    <style>
        /* round box css */
        .round-box {
            border-radius: 999px;
        }

        /* table */
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            /* border: 1px solid #dddddd; */
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            /* background-color: #dddddd; */
        }



        .table-head {
            background-color: #38C68B;
        }

        .table-body {
            color: #38C68B;
        }

        .sortLink {
            color: #38C68B;
        }

        .sortLink:hover {
            color: #000;
            background-color: #38C68B;
        }

        .table-button {
            background-color: rgba(0, 0, 0, 0);
            color: #38C68B;
            width: fit-content;
            border: #38C68B 2px solid;
        }

        .table-button:hover {
            color: #000000;
            width: fit-content;
            background-color: #38C68B;
        }

        .backgroundImage {
            width: 100%;
            height: auto;
        }

        @media screen and (max-width: 1130px) {
            .backgroundImage {
                width: auto;
                height: 100%;
            }
        }

        /* main content of this page */
        .mainContent {
            position: absolute;
            width: 100%;
            height: fit-content;
            top: 0;
            padding: 3%;
            padding-top: 50px;
            margin-top: 50px;
        }

        /* css for form */
        .form {
            background-color: rgba(0, 0, 0, 0.719);
            width: 60%;
            border: #38C68B 3px solid;
            color: #38C68B;
            padding: 20px;
            position: relative;
        }

        @media screen and (max-width: 1000px) {
            .form {
                background-color: rgba(0, 0, 0, 0.719);
                width: 80%;
                border: #38C68B 3px solid;
                color: #38C68B;
                padding: 20px;
                position: relative;
            }
        }

        @media screen and (max-width: 500px) {
            .form {
                background-color: rgba(0, 0, 0, 0.719);
                width: 90%;
                border: #38C68B 3px solid;
                color: #38C68B;
                padding: 20px;
                position: relative;
            }
        }

        /* base css for input feild */
        .baseInput {
            position: absolute;
            left: 0;
            background-color: rgb(41, 41, 41);
            border: #38C68B 2px solid;
            color: #38C68B;
            width: 85%;
        }

        @media screen and (max-width: 700px) {
            .baseInput {
                position: absolute;
                left: 0;
                background-color: rgb(41, 41, 41);
                border: #38C68B 2px solid;
                color: #38C68B;
                width: 80%;
            }
        }

        @media screen and (max-width: 500px) {
            .baseInput {
                position: relative;
                width: 100%;
                left: 0;
                background-color: rgb(41, 41, 41);
                border: #38C68B 2px solid;
                color: #38C68B;
            }
        }

        /* css for image line */
        .imageLine {
            position: relative;
            margin-top: 70px;
        }

        @media screen and (max-width: 500px) {
            .imageLine {
                position: relative;
                margin-top: 0px;
            }
        }

        /* image line label */
        .lineLabel {
            margin-top: 5px;
            position: absolute;
            top: 0;
        }

        @media screen and (max-width: 500px) {
            .lineLabel {
                margin-top: 5px;
                position: relative;
                top: 0;
            }
        }

        /* css for all input container */
        .allInpuContainer {
            margin-top: 20px;
        }

        @media screen and (max-width: 500px) {
            .allInpuContainer {
                margin-top: 0px;
            }
        }

        /* black layer background for form */
        .blackLayerForm {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.589);
            position: fixed;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .xButton {
            width: 30px;
            height: 30px;
            background-color: #38C68B;
            position: absolute;
            right: 0;
            top: 0;
            color: black;
            font-size: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
        }

        /* image upload 2 */
        .image2 {
            width: fit-content;
            height: fit-content;
            position: absolute;
            top: 0;
            margin-left: 10px;
        }

        @media screen and (max-width: 500px) {
            .image2 {
                width: fit-content;
                height: fit-content;
                position: absolute;
                top: 0;
                margin-left: 10px;
                margin-top: 23px;
            }
        }

        /* button hover */
        .buttonHover {
            background-color: #38C68B;
            transition: background-color 0.5s ease;
        }

        .buttonHover:hover {
            background-color: #3b3b3b;
            color: #38C68B;
            border: #38C68B 2px solid;
        }

        /* delete confirmation container */
        .deleteContainer {
            width: 60%;
            height: fit-content;
            border: #38C68B 3px solid;
            color: #38C68B;
            padding: 20px;
            background-color: rgba(0, 0, 0, 0.664);
        }

        @media screen and (max-width: 636px) {
            .deleteContainer {
                width: 90%;
                height: fit-content;
                border: #38C68B 3px solid;
                color: #38C68B;
                padding: 20px;
                background-color: rgba(0, 0, 0, 0.664);
            }
        }

        /* delete post confirm buttons */
        .deleteButton {
            width: fit-content;
            height: fit-content;
            padding: 2px 10px 2px 10px;
            background-color: #38C68B;
            margin-top: 10px;
            font-weight: 700;
        }

        .deleteButton:hover {
            width: fit-content;
            height: fit-content;
            padding: 2px 10px 2px 10px;
            background-color: #444444;
            color: #38C68B;
            border: #38C68B 2px solid;
            margin-top: 10px;
            font-weight: 700;
        }

        .exportContainer{
            width: 60%; 
            height: fit-content; 
            border: #38C68B 3px solid; 
            background-color: rgba(0, 0, 0, 0.486); 
            backdrop-filter: blur(5px); 
            padding: 10px; 
            color: #38C68B;
            padding-top: 40px;
            padding-bottom: 40px;
        }

        @media screen and (max-width: 600px) {
            .exportContainer{
                width: 80%; 
                height: fit-content; 
                border: #38C68B 3px solid; 
                background-color: rgba(0, 0, 0, 0.486); 
                backdrop-filter: blur(5px); 
                padding: 10px; 
                color: #38C68B;
                padding-top: 40px;
                padding-bottom: 40px;
            }
        }

        @media screen and (max-width: 450px) {
            .exportContainer{
                width: 100%; 
                height: fit-content; 
                border: #38C68B 3px solid; 
                background-color: rgba(0, 0, 0, 0.486); 
                backdrop-filter: blur(5px); 
                padding: 10px; 
                color: #38C68B;
                padding-top: 40px;
                padding-bottom: 40px;
            }
        }
    </style>
</pages-css>






























































<!-- main body -->
<div id="body" style="height: 100vh; width: 100%; min-height: 100vh;">
    <!-- background -->
    <div
        style="width: 100%; height: 100vh; overflow: hidden; display: flex; align-items: center; justify-content: center; position: fixed;">
        <!-- black layer -->
        <div style="width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.548); position: absolute;">
        </div>

        <!-- back ground -->

        <img id="backgroundImage" class="backgroundImage"
            src="{% static 'images/untitled_cyberpunk_girl_79af61d0-e7ed-4821-8a01-de98d57d7ff6.png' %}" alt="">
    </div>

    <!-- main -->
    <div style="width: 100%; height: 100%; position: relative; display: flex; align-items: center; justify-content: center;">
        <div class="rounded exportContainer">
            <div>
                <label for="">File Name:</label>
                <input name="name" id="inputName" style="width: 100%; border: #38C68B 2px solid; background-color: rgba(0, 0, 0, 0.637); padding-left: 5px; color: #38C68B;" class="round-box" type="text" placeholder='default name will be "myclass_data"'>
            </div>
            
            <div style="margin-top: 20px;">
                <label>From season:</label>

                <button style="background-color: #38C68B; border: #3d3d3d 2px solid; padding: 2px;"
                class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All</button>
                <div style="border: #38C68B 2px solid; background-color: rgba(0, 0, 0, 0.712);"
                    class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <div class="dropdown-item sortLink" onclick="allSeason()">All</div>
                    {% for season in seasons %}
                    <div class="dropdown-item sortLink" onclick="season({{ season.id }}, '{{ season.title }}')">{{ season.title }}</div>
                    {% endfor %}
                </div>        
            </div>

            <div style="margin-top: 40px; display: flex; justify-content: right;">
                <div class="row" style="margin: 0; width: fit-content;">
                    <form action="../exportCsv/" method="post" class="col-auto">
                        {% csrf_token %}
                        <input type="hidden" name="name" class="name">
                        <input type="hidden" name="seasonId" class="seasonId">                        
                        <button class="round-box buttonHover" style="width: 70px;">CSV</button>                        
                    </form>
                    <form action="../exportExcel/" method="post" class="col">
                        {% csrf_token %}
                        <input type="hidden" name="name" class="name">
                        <input type="hidden" name="seasonId" class="seasonId">                         
                        <button class="round-box buttonHover" style="width: 70px;">Excel</button>                        
                    </form>
                    <form action="../exportZip/" method="post" class="col">
                        {% csrf_token %}
                        <input type="hidden" name="name" class="name">
                        <input type="hidden" name="seasonId" class="seasonId">                       
                        <button class="round-box buttonHover" style="width: 70px;">Zip</button>                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>









































<!-- scripts -->
<!-- [ultra supa update] make background responsive fit with all screen, even TV or smart watch Seeeeesssshh! -->
<script>
    var silverNumber = 7 / 4;
    var backgroundImage = document.getElementById("backgroundImage");

    // change on load
    window.addEventListener('load', function () {
        var goldenNumber = window.innerWidth / window.innerHeight;
        if (goldenNumber >= silverNumber) {
            backgroundImage.style.width = 100 + "%";
            backgroundImage.style.height = "auto";
        } else {
            backgroundImage.style.width = "auto";
            backgroundImage.style.height = 100 + "%";
        }
    });
    // change on resize
    window.addEventListener("resize", function () {
        var goldenNumber = window.innerWidth / window.innerHeight;
        if (goldenNumber >= silverNumber) {
            backgroundImage.style.width = 100 + "%";
            backgroundImage.style.height = "auto";
        } else {
            backgroundImage.style.width = "auto";
            backgroundImage.style.height = 100 + "%";
        }
    });
</script>


<script>
    var inputName = document.getElementById("inputName");
    inputName.onchange = function(){
        const names = document.querySelectorAll('.name');
        names.forEach((name) => {
            name.value = inputName.value;
        });
    };
</script>



<script>

    allSeason()

    function allSeason(){
        var dropdownMenuButton = document.getElementById("dropdownMenuButton");
        dropdownMenuButton.innerHTML = `All`;
        const seasonIds = document.querySelectorAll('.seasonId');
            seasonIds.forEach((seasonId) => {
                seasonId.value = `all`;
        }); 
    }

    function season(season, name){
        var dropdownMenuButton = document.getElementById("dropdownMenuButton");
        dropdownMenuButton.innerHTML = name;
        const seasonIds = document.querySelectorAll('.seasonId');
            seasonIds.forEach((seasonId) => {
                seasonId.value = season;
        });
    }
</script>









{% endblock %}