{% extends 'base.html' %}

{% block content %}

{% load static %}

<!-- css -->
<pages-css>
    <style>
        /* round box css */
        .round-box {
            border-radius: 999px;
            padding: 5px;
        }

        /* back home button */
        .backButton {
            background-color: #38C68B;
            font-weight: 600;
        }

        .backButton:hover {
            background-color: #494949;
            color: #38C68B;
            border: 2px solid #38C68B;
            font-weight: 600;
        }
    </style>
</pages-css>
















<!-- main -->
<div
    style="width: 100%; height: 100vh; position: relative; display: flex; align-items: center; justify-content: center;">
    <!-- black layer -->
    <div style="width: 100%; height: 100%; position: absolute; background-color: rgba(0, 0, 0, 0.664); z-index: 1;">
    </div>

    <!-- image -->
    <img id="backgroundImage" style="width: 100%; position: fixed;"
        src="{% static 'images/untitled_cyberpunk_girl_79af61d0-e7ed-4821-8a01-de98d57d7ff6.png' %}" alt="">

    <!-- text -->
    <div style="position: absolute; z-index: 2; color: #38C68B;">
        <center>
            {% if username %}
            <h2>- Hello {{ username }} -</h2>
            {% endif %}
            <h3>
                {% if inform %}
                {{ inform }}
                {% endif %}
            </h3>
            <img style="width: 50px;" src="https://media.giphy.com/media/HH2bb3Pjq5IB2/giphy.gif" alt="">

            {% if link %}
            <div>
                <form action="{{ link }}" method="GET">
                    <input name="username" value="{{ username }}" type="hidden">
                    {% if password2 %}
                        <input name="password2" value="{{ password2 }}" type="hidden">
                    {% endif %}
                    <input name="formattedExpireTime" value="{{ formattedExpireTime }}" type="hidden">
                    <input type="hidden" name="otp" value="{{ otp }}">
                    <button class="round-box backButton"> {{ linkText }}
                    </button>
                </form>
            </div>
            {% endif %}
        </center>
    </div>
</div>













<!-- script -->
<!-- [ultra supa update] make background responsive fit with all screen, even TV or smart watch Seeeeesssshh! -->
<script>
    var silverNumber = 7 / 4;
    var backgroundImage = document.getElementById("backgroundImage");

    var goldenNumber = window.innerWidth / window.innerHeight;
    if (goldenNumber >= silverNumber) {
        backgroundImage.style.width = 100 + "%";
        backgroundImage.style.height = "auto";
    } else {
        backgroundImage.style.width = "auto";
        backgroundImage.style.height = 100 + "%";
    }

    // change on load
    window.addEventListener('load', function () {
        var goldenNumber = window.innerWidth / window.innerHeight;
        if (goldenNumber >= silverNumber) {
            backgroundImage.style.width = 100 + "%";
            backgroundImage.style.height = "auto";
        } else {
            backgroundImage.style.width = "auto";
            backgroundImage.style.height = 100 + "%";
        }
    });
    // change on resize
    window.addEventListener("resize", function () {
        var goldenNumber = window.innerWidth / window.innerHeight;
        if (goldenNumber >= silverNumber) {
            backgroundImage.style.width = 100 + "%";
            backgroundImage.style.height = "auto";
        } else {
            backgroundImage.style.width = "auto";
            backgroundImage.style.height = 100 + "%";
        }
    });
</script>

{% endblock %}